.Tasklist {
  display: flex;
  justify-content: center;

  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gainsboro;
    border-radius: 3px;
    margin: 5px 0px;
    padding: 3px 0px;
    p {
      word-break: break-all;
      padding: 8px;
      text-align: center;
    }
    .list-item-icons {
      display: flex;
      flex-wrap: nowrap;
    }
    button {
      margin: 0px 4px;
      background-color: transparent;
      border-radius: 4px;
    }
    .list-item-text {
      max-width: 200px;
    }
  }
}
