.Add {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  input {
    border: none;
    outline: none;
  }
}

.searchtask {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;

  i {
    margin: 4px;
  }
}
.addtask {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}
i {
  margin: 4px;
}
.addtaskbutton {
  padding: 3px;
  margin: 5px;
  background-color: #fff;
  border-radius: 5px;
}
